<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>ELEMENTS</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>




  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-end">
        <div class="custom_heading-container">
          <hr>
          <h2>
            Services
          </h2>

        </div>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority
        </p>
      </div>
    </div>
    <div class="container">
      <div class="service_container layout_padding2">
        <a href="">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/s-1.png' %}" alt="" class="img-1">
              <img src="{% static 'images/s1-blue.png' %}" alt="" class="img-2">
            </div>
            <div class="name">
              <h6>
                web
              </h6>
            </div>
          </div>
        </a>
        <a href="">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/s-2.png' %}" alt="" class="img-1">
              <img src="{% static 'images/s2-blue.png' %}" alt="" class="img-2">
            </div>
            <div class="name">
              <h6>
                Graph Design
              </h6>
            </div>
          </div>
        </a>
        <a href="">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/s-3.png' %}" alt="" class="img-1">
              <img src="{% static 'images/s3-blue.png' %}" alt="" class="img-2">
            </div>
            <div class="name">
              <h6>
                vector Design
              </h6>
            </div>
          </div>
        </a>
        <a href="">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/s-4.png' %}" alt="" class="img-1">
              <img src="{% static 'images/s4-blue.png' %}" alt="" class="img-2">
            </div>
            <div class="name">
              <h6>
                Draw
              </h6>
            </div>
          </div>
        </a>
        <a href="">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/s-5.png' %}" alt="" class="img-1">
              <img src="{% static 'images/s5-blue.png' %}" alt="" class="img-2">
            </div>
            <div class="name">
              <h6>
                Cloud
              </h6>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="read-btn">
      <a href="">
        Read More
      </a>
    </div>
  </section>

  <!-- end service section -->



  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_social">
        <div>
          <a href="">
            <img src="{% static 'images/fb.png' %}" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="{% static 'images/twitter.png' %}" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="{% static 'images/linkedin.png' %}" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="{% static 'images/insta.png' %}" alt="">
          </a>
        </div>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        </p>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

</body>
</body>

</html>


{% endblock %}
